/* CSS Document */
@import url("reset.css");
@import url("typography.css");
@import url("layout.css");
@import url("logo.css");
@import url("navigation.css");
@import url("links.css");

* {
    box-sizing: border-box;
}

/* style text - start ******************/

.menuitem:nth-child(1) {
    display: none;
}

.menuitem:nth-child(2),
.menuitem:nth-child(3) {
    visibility: hidden;
}

h1 {
    color: #E3D081;
    -webkit-text-stroke: 1px rgb(84, 73, 75);
    width: 80%;
    margin: 380px auto 15px auto;
}

h2,
h3,
.main__home p {
    color: #54494b;
}

.main__home p:nth-child(1) {
    margin-top: 160px;
}

.main__home p:nth-child(3) {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 45px;
}

.link__header,
.link__footer,
h3,
.main__home p:nth-child(1)::first-letter,
.main__home p:nth-child(3) {
    text-transform: capitalize;
}

h2 {
    text-transform: uppercase;
}

.lowercase {
    text-transform: none;
}

/* style text - end *****************************/

/* style layout - start *******************/

/* style block with class '.grid__container*/
.grid__container {
    position: relative;
    width: 100%;
    height: auto;
}

/* style header - start *********************/

/* style image cat-and-dog - start */

/* overlap header and image */
.overlap {
    position: absolute;
    top: 0;
    left: 0;
}

/* locate image behind the header */
.img__cat-dog {
    max-width: 100%;
    height: auto;
    z-index: -1;
}

/* style image .cat-and-dog - end */

/* locate image behind the header */
.img__dog--aboutus,
.aboutus__img--dog {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* locate image behind the header */
.img__dog--contactus {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* style image .dog - end */

/* style flexbox block with class '.flexbox__container--header' */
.flexbox__container--header {
    position: fixed;
    max-width: 100%;
    /* use width: 100%; for desktop layout */
    height: auto;
    background-color: rgb(235, 79, 23, 1.00);
    padding: 15px;
}

/* styling of the header logo in the 'logo.css' file */
/* styling of the header navigation bar 'navigation.css' file */
/* styling of the header link 'Book Online' in the file 'links.css' file */

/* style header - end *****************/

/* style 'main' - start *****************/

/* style block with class '.grid__container--main*/

.grid__container--main {
    text-align: center;
}

.main__home p {
    color: #54494b;
}

.main__aboutus,
.main__aboutus-page {
    position: relative;
    text-align: left;
    padding: 0 25px;
    z-index: -1;
}

.main__contactus,
.main__contactus-page {
    position: relative;
    text-align: left;
    padding: 0 25px;
    z-index: -1;
    left: 0;
    top: 350px;
}

.main__aboutus p,
.main__aboutus-page p,
.main__contactus p,
.main__contactus-page p {
    color: #54494b;
}

.main__aboutus h2,
.main__aboutus-page h2 {
    color: #f1f7ed;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

.main__contactus h2,
.main__contactus-page h2 {
    color: #f1f7ed;
    margin: 15px auto;
    position: relative;
    top: 200px;
    text-transform: uppercase;
}

.main__contactus p,
.main__contactus-page p {
    position: relative;
    top: 320px;
    z-index: -1;
}

.contact-page-info__wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
    line-height: 1.5rem;
}

.contact-page-info__wrapper h2 {
    position: relative;
    top: 330px;
    text-align: center;
    color: #54494b;
    padding: 15px;
}

.contact-info__wrapper .oh-h2 {
    color: #54494b;
    text-align: center;
    top: 330px;
}

.main__aboutus p:nth-child(3),
.main__aboutus-page p:nth-child(3),
.main__aboutus p:nth-child(4),
.main__aboutus-page p:nth-child(4) {
    position: relative;
    top: 320px;
}

.social__links {
    display: flex;
    position: relative;
    top: 320px;
    margin-top: 20px;
}

.social__link {
    flex: 1;
    padding: 10px;
    margin: 0 10px;
}

/* animation */
@keyframes flash__link {

    0% {
        fill: red;
    }

    50% {
        fill: yellow;
    }

    100% {
        fill: green;
    }
}

.social__link svg rect {
    animation-name: flash__link;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

/* style 'main' - end */

/* style footer - start */

/* style block with class '.grid__container--footer*/
.area__footer {
    position: relative;
    top: 680px;
    padding: 15px;
    background-color: rgb(84, 73, 75);
    z-index: -1;
}

.footer__content p:nth-child(1)::first-letter,
.footer__content p:nth-child(2),
.span__main {
    text-transform: capitalize;
}

footer .footer__content p {
    text-align: center;
    color: rgb(227, 208, 129);
}

.grid__container--footer div:nth-child(3) {
    display: none;
}

/* styling footer link 'Learn More' in the file 'links.css' */

/* style footer - end */

/* style layout - end */

/* media query, desktop layout */

@media (min-width: 960px) {

    /* style header - start */

    /* style block with class 'flexbox__container--header */

    .flexbox__container--header {
        max-width: unset;
        width: 100%;
        background-color: rgb(235, 79, 23, 1.00);
        padding: 15px 100px;
    }

    /* style menuitems */
    .menuitem:nth-child(1) {
        display: unset;
    }

    .menuitem:nth-child(2),
    .menuitem:nth-child(3) {
        visibility: unset;
    }

    .menuitem:nth-child(4) {
        display: none;
    }

    /* style 'Book Online' header link */

    .link__header:link {
        margin-left: unset;
        right: 100px;
    }

    /* style logo */

    #logo {
        width: 45%;
    }


    /* style header - end */

    /* style home page - start*/

    /* place heading h2 in the header */
    .main__home p:nth-child(1) {
        margin-top: 70px;
        z-index: 2;
        color: #E3D081;
    }

    .img__cat-dog {
        max-width: unset;
        width: 47%;
        height: auto;
        z-index: -1;
    }

    /* style non-relatieve content with 'display:none;' */

    .main__contactus {
        display: none;
    }

    .main__aboutus {
        display: none;
    }

    /* style body */

    body {
        background: linear-gradient(to left, rgba(255, 255, 255, .5), rgb(174, 199, 188), rgba(255, 255, 255, .5));
        overflow: hidden;
    }

    .grid__container--home h1,
    .grid__container--home p:nth-child(3) {
        position: relative;
        left: 20%;
    }

    /* style home page - end*/

    /* style footer - start */

    .area__footer {
        position: fixed;
        top: unset;
        bottom: 0;
        width: 100%;
        z-index: unset;
    }

    .grid__container--footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer .footer__content p {
        text-align: unset;
        color: rgb(227, 208, 129);
    }

    .link__footer:link {
        width: 15%;
        margin: unset;
    }

    /* style social links */

    .grid__container--footer div:nth-child(3) {
        display: flex;
    }

    .social__links {
        justify-content: space-around;
        align-items: center;
        position: unset;
        top: unset;
        margin-top: unset;
    }

    .social__link {
        flex: 1;
        padding: 0 20px;
        margin: unset;
    }


    /* style footer - end */

    /* style page about us start */
    .aboutus__img--dog {
        max-width: unset;
        height: auto;
        position: absolute;
        top: 30px;
        left: unset;
        right: 0;
        z-index: -1;
    }

    /* style header h2 */
    .grid__container--aboutus-page h2 {
        position: relative;
        right: 25%;
        top: 100px;
        color: #54494b;
    }

    .content__aboutus--page {
        position: relative;
        top: 100px;
        width: 50%;
        padding: 20px;
        font-size: 1.2rem;
    }

    .content__aboutus--page p {
        margin-bottom: 30px;
    }

    .span__main {
        font-size: 1.7rem;
    }

    /* style page about us - end */

    /* style page contact us - start */

    .main__contactus-page {
        top: unset;
    }

    .main__contactus-page h2 {
        color: #54494b;
        margin: 0 auto;
        position: relative;
        top: 0px;
    }

    .main__contactus-page p {
        top: 110px;
    }

    .contact-page-info__wrapper h2:nth-child(1) {
        top: 100px;
    }

    .contact-page-info__wrapper h2:nth-child(8) {
        top: 140px;
    }

    .main__contactus-page p:nth-child(9),
    .main__contactus-page p:nth-child(10),
    .main__contactus-page p:nth-child(11) {
        top: 160px;
    }

    .contact-page-info__wrapper {
        width: 30%;
    }

    .grid__container--contactus-page {
        display: flex;
    }

    .main__contactus-page img {
        width: 25%;
        height: auto;
        position: relative;
        top: 130px;
    }



    /* style page contact us - end */










}