@import url("reset.css");
@import url("typography.css");
@import url("layout.css");
@import url("logo.css");
@import url("navigation.css");
@import url("links.css");

* {
    /* box-sizing: border-box; */
}

/* style text - start ******************/

h1 {
    color: #E3D081;
    -webkit-text-stroke: 1px rgb(84, 73, 75);
    width: 80%;
    margin: 380px auto 15px auto;
}

h2,
h3,
.main__home p {
    color: #54494b;
}

.main__home p:nth-child(1) {
    margin-top: 160px;
}

.main__home p:nth-child(3) {
    margin: 0 auto;
    width: 50%;
}

.link__header,
.link__footer,
h3,
.main__home p:nth-child(1)::first-letter,
.main__home p:nth-child(3) {
    text-transform: capitalize;
}

h2 {
    text-transform: uppercase;
}

.main__contactus h2 {
    text-transform: capitalize;
}

.lowercase {
    text-transform: none;
}

/* style text - end ***********************/

/* style layout - start *******************/

/* style block with class '.grid__container*/
.grid__container {
    position: relative;
    width: 100%;
    height: auto;
}

/* style header - start *********************/

/* style image cat-and-dog - start */

/* overlap header and image */
.overlap {
    position: absolute;
    top: 0;
    left: 0;
}

/* locate image behind the header */
.img__cat-dog {
    z-index: -1;
}

/* style image cat-and-dog - end */

/* style flexbox block with class '.flexbox__container--header' */
.flexbox__container--header {
    position: fixed;
    background-color: rgb(235, 79, 23, .8);
    padding: 15px;
}

/* styling of the header logo in the 'logo.css' file */
/* styling of the header navigation bar 'navigation.css' file */
/* styling of the header link 'Book Online' in the file 'links.css' file */

/* style header - end *****************/

/* style 'main' - start *****************/

/* style block with class '.grid__container--main*/

.grid__container--main {
    text-align: center;
}

.main__home p {
    color:#54494b;
}

.main__aboutus {

    position: relative;
    text-align: left;
    padding: 0 25px; 
    z-index: -1;
}

.main__aboutus p {
    color:#54494b;
}

.img__dog {
    width: 100%;
    height: 35vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.main__aboutus h2 {
    color:#f1f7ed;
    margin: 0 auto;
    position: relative;
    top: 200px;

}

.main__contactus {
    text-align: center;
    padding: 20px 80px; 
}

.main__contactus h2,
.main__contactus p {
    color:#54494b;
    position: relative;
    top: 210px;
    z-index: -1;
}

.main__contactus p {
    text-align: left;
}

.main__aboutus p:nth-child(3),
.main__aboutus p:nth-child(4) {
    position: relative;
    top: 240px;
}

.social__links {
    display: flex;
    position: relative;
    top: 240px;
    /* padding: 20px;
    background-color: rgba(255, 0, 0, 0.2); */
}

.social__link {
    flex: 1;
    padding: 10px;
    background-color: #E3D081;
    border: 1px solid black;
    margin: 0 10px;
}

/* style 'main' - end */

/* style footer - start */

/* style block with class '.grid__container--footer*/
.area__footer {
    position: relative;
    top: 250px;
    padding: 15px;
    background-color: rgb(84, 73, 75);
}

.footer__content p:nth-child(1)::first-letter,
.footer__content p:nth-child(2),
.span__main {
    text-transform: capitalize;
}

footer .footer__content p {
    text-align: center;
    color: white;
}

/* styling footer link 'Learn More' in the file 'links.css' */

/* style footer - end */

/* style layout - end */